
head{
    background-color: #FFFFFF ;
}
body{
    background-color: #FFFFFF;
}
h4{
    position: absolute;
    width: 201px;
    height: 33px;
    left: 80px;
    top: 89px;

    font-family: "Chakra Petch" , sans-serif;
    font-size: 19px;
    font-weight: 600;
    font-style: normal;
    line-height: 25px;
    color: #000000;
}

div.big p{
    position: absolute;
    width: 464px;
    height: 148px;
    left: 543px;
    top: 201px;

    font-family: "Chakra Petch",sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 54px;
    line-height: 70px;
    letter-spacing: 0.04em;

    color: #333333;
}
div.small p{

    position: absolute;
    width: 349px;
    height: 102px;
    left: 545px;
    top: 397px;

    font-family: 'PT Mono',serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 31px;
}

div.image img{
    position: absolute;
    width: 530px;
    height: 459px;
    left: 16px;
    top: 221px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0,0.25));
}

div.button {
   position: absolute;
   width: 210px;
   height: 59px;
   left: 545px;
   top: 547px; 
   background-color: #333333;
}

div.home_link a{
    position: absolute;
    width: 139px;
    height: 22px;
    left: 584px;
    top: 567px;

    font-family: 'Chakra Petch', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 19px;

    text-decoration: none;
    color: #FFFFFF;
    
}